section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 100vh;
}
img {
   width: 180px;
}


.login-container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-form label {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
    display: block;
  }
  
  .login-form input[type="email"],
  .login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f5f7fb;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .sign-in-btn {
    width: 100%;
    padding: 12px;
    background-color: rgb(165, 161, 161);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .sign-in-btn:hover {
    background-color: gray;
  }
  
