<header>
    <a href="/main">
        <img src="../../assets/logo3.png" alt="">
    </a>
    <nav>
        <a href="/dashboard">Home</a>
    
    <button class="logoutButton" (click)="logout()">Log Out</button>
   
</nav>
</header>

<section>
    <h1>Deposit BTC</h1>
    <div class="qrcode">
         <img src="../../assets/qrcode.png" alt="" class="qrcodephoto">
         <div class="addres">
         <p #textToCopy>Not Found</p>
          <button (click)="copyText(textToCopy)">Copy</button>
         </div>
         <div class="btcinfo">
            <h2>&#9679; BTC network transfers will be credited to your AFCC account after 6 network confirmations. Sometimes it may delay up to 0-1 business day.</h2>
            <h2>&#9679; BTC deposits to this address are unlimited. Note that you may not be able to withdraw all of your funds at once if you deposit more than your daily withdrawal limit.</h2>
         </div>
    </div>
</section>
