
<header [ngClass]="{'scrolled' : isScrolled}">
    <a href="/main" class="logo">
        <img src="../../assets/whitelogo.png" alt="">
    </a>

      <!-- Burger Icon -->
  <div class="burger" (click)="toggleMobileMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

   
  <!-- Desktop Nav -->
  <nav class="desktop-nav">
    <a (click)="scrollTo('home')">Home</a>
    <a (click)="scrollTo('features')">Features</a>
    <a (click)="scrollTo('about')">About</a>
    <a (click)="scrollTo('FAQ')">FAQ</a>
    <a (click)="scrollTo('reviews')">Reviews</a>
    <a (click)="scrollTo('contact')">Contact</a>
  </nav>

  <div class="login desktop-nav">
    <ng-container *ngIf="!isLoggedIn; else loggedIn">
      <a routerLink="/login" class="loginA">Log In</a>
      <a routerLink="/register" class="register">Sign Up</a>
    </ng-container>
    <ng-template #loggedIn>
      <a routerLink="/dashboard" class="dashboard">Home</a>
      <button (click)="logout()" class="logout-button">Log Out</button>
    </ng-template>
  </div>

  <!-- Mobile Menu -->
<!-- Mobile Menu -->
<div class="mobile-menu" *ngIf="mobileMenuOpen">
 <nav>
  <a href="#" (click)="navigateAndClose('home'); $event.preventDefault()">Home</a>
  <a href="#" (click)="navigateAndClose('features'); $event.preventDefault()">Features</a>
  <a href="#" (click)="navigateAndClose('about'); $event.preventDefault()">About</a>
  <a href="#" (click)="navigateAndClose('FAQ'); $event.preventDefault()">FAQ</a>
  <a href="#" (click)="navigateAndClose('reviews'); $event.preventDefault()">Reviews</a>
  <a href="#" (click)="navigateAndClose('contact'); $event.preventDefault()">Contact</a>
</nav>

  <div class="login">
    <ng-container *ngIf="!isLoggedIn; else loggedInMobile">
      <a routerLink="/login" (click)="closeMobileMenu()">Log In</a>
      <a routerLink="/register" (click)="closeMobileMenu()">Sign Up</a>
    </ng-container>
    <ng-template #loggedInMobile>
      <a routerLink="/dashboard" (click)="closeMobileMenu()">Home</a>
      <button (click)="logout(); closeMobileMenu()">Log Out</button>
    </ng-template>
  </div>
</div>

</header>

<main>
    <section id="home">
        <h1>SmartJustice Billing Department</h1>
        <p>If you are a victim of a cyber crime or crypto fraud, contact us today for a free consultation.</p>
        <div class="homeLogin">
            <button routerLink="/register">Join Now</button>
            <a routerLink="/login">Already a Customer? Login➝</a>
        </div>
    </section>
    <section id="features">
        <div class="featuresOne">
        <h1>Main Features of SmartJustice</h1>
        <p>SmartJustice has been the trusted name in asset recovery since 1999. A name you can trust to help recover your lost Bitcoin, Etherium, NFTs and altcoins!</p>
        </div>
        <div class="featuresTwo">
            <div class="icon">
<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9 11V6C9 4.34315 10.3431 3 12 3C13.6569 3 15 4.34315 15 6V10.9673M10.4 21H13.6C15.8402 21 16.9603 21 17.816 20.564C18.5686 20.1805 19.1805 19.5686 19.564 18.816C20 17.9603 20 16.8402 20 14.6V12.2C20 11.0799 20 10.5198 19.782 10.092C19.5903 9.71569 19.2843 9.40973 18.908 9.21799C18.4802 9 17.9201 9 16.8 9H7.2C6.0799 9 5.51984 9 5.09202 9.21799C4.71569 9.40973 4.40973 9.71569 4.21799 10.092C4 10.5198 4 11.0799 4 12.2V14.6C4 16.8402 4 17.9603 4.43597 18.816C4.81947 19.5686 5.43139 20.1805 6.18404 20.564C7.03968 21 8.15979 21 10.4 21Z" stroke="#494e79" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                <h2>Sophisticated tools</h2>
                <p>Company has got the most sophisticated tools on the market.</p>
             </div>
             <div class="icon">
<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M5 9V5C5 3.89543 5.89543 3 7 3H17C18.1046 3 19 3.89543 19 5V9M5 9H19M5 9V15M19 9V15M19 15V19C19 20.1046 18.1046 21 17 21H7C5.89543 21 5 20.1046 5 19V15M19 15H5M8 12H8.01M8 6H8.01M8 18H8.01" stroke="#494e79" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                <h2>Secure Storage</h2>
                <p>We store the vast majority of the digital assests in secure offline storage.</p>
             </div>
             <div class="icon">
<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M8.5 21H4C4 17.134 7.13401 14 11 14C11.1681 14 11.3348 14.0059 11.5 14.0176M15 7C15 9.20914 13.2091 11 11 11C8.79086 11 7 9.20914 7 7C7 4.79086 8.79086 3 11 3C13.2091 3 15 4.79086 15 7ZM12.5898 21L14.6148 20.595C14.7914 20.5597 14.8797 20.542 14.962 20.5097C15.0351 20.4811 15.1045 20.4439 15.1689 20.399C15.2414 20.3484 15.3051 20.2848 15.4324 20.1574L19.5898 16C20.1421 15.4477 20.1421 14.5523 19.5898 14C19.0376 13.4477 18.1421 13.4477 17.5898 14L13.4324 18.1574C13.3051 18.2848 13.2414 18.3484 13.1908 18.421C13.1459 18.4853 13.1088 18.5548 13.0801 18.6279C13.0478 18.7102 13.0302 18.7985 12.9948 18.975L12.5898 21Z" stroke="#494e79" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                <h2>22+ Years Experience</h2>
                <p>Industry best practices collected over 22 years.</p>
             </div>
             <div class="icon">
<svg fill="#494e79" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" stroke="#494e79"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title></title> <g data-name="Layer 12" id="Layer_12"> <path d="M25.41,7.09l-9-4a1,1,0,0,0-.82,0l-9,4A1,1,0,0,0,6,8v8.56A8.69,8.69,0,0,0,8.91,23l6.43,5.71a1,1,0,0,0,1.32,0L23.09,23A8.69,8.69,0,0,0,26,16.56V8A1,1,0,0,0,25.41,7.09ZM24,16.56a6.67,6.67,0,0,1-2.24,5L16,26.66l-5.76-5.12a6.67,6.67,0,0,1-2.24-5V8.65l8-3.56,8,3.56Z"></path> <path d="M13,14.29a1,1,0,0,0-1.42,1.42l2.5,2.5a1,1,0,0,0,1.42,0l5-5A1,1,0,0,0,19,11.79l-4.29,4.3Z"></path> </g> </g></svg>
                <h2>Protected by insurance</h2>
                <p>Cryptocurrency stored on our servers is covered by our insurance policy.</p>
             </div>
        </div>
    </section>
    <section id="about">
        <h1>About Us</h1>
        <div class="aboutText">
        <h2>History which started over decades</h2>
        <p>
            In recent years, SJ has shifted its focus towards addressing the rising threat of crypto and forex scams. As the popularity of cryptocurrencies and forex trading has surged, so too have the instances of fraudulent schemes targeting unsuspecting investors. SJ recognizes the urgent need to safeguard the interests of those involved in these markets.
                    
            With a team of dedicated professionals and a wealth of experience in the field, JS remains committed to its mission of combating cyber fraud. By constantly adapting to new threats and employing innovative strategies, JS strives to stay one step ahead in the ongoing battle against crypto and forex scams.</p>
        </div>
    </section>
    <section id="FAQ">
        <h1>FAQ</h1>
        <h2>Any Questions? Answered</h2>
        <div class="faqQuestions">
        <div  *ngFor="let qa of questions; let i = index">
         <h3 (click)="toggleAnswer(i)" style="cursor:pointer" class="faqQue">
            {{qa.question}}
         </h3>
         
         <p class="faq-answer" [@expandCollapse]="qa.open ? 'open' : 'closed'">
            <span class="faq-answer-inner">{{ qa.answer }}</span>
          </p>  
        </div>
        </div>
    </section>
    <section id="reviews">
        <h1>Reviews</h1>
        <h2>What Our Customers Say</h2>
        <div class="peopleReviews">
            <div class="personReview">
            <span style="color: gold; font-size: 24px;">★ ★ ★ ★ ★</span>
            <p>“When they told me they had successfully recovered my money, I was overjoyed! They not only helped me financially but also gave me a sense of justice."</p>   
            <div class="person">
                <img src="https://i.pinimg.com/736x/7a/ef/43/7aef434eba7232c6d5ce421a2127a6f8.jpg" alt="">
                <h3>Josh Simon</h3>
            </div>
        </div>
            <div class="personReview">
                <span style="color: gold; font-size: 24px;">★ ★ ★ ★ ★</span>
                <p>“Helped me to get My funds back I am so grateful. They changed my life and gave me hope in humanity again. Thank you thousand and more times !!! With love Lucas."</p>
                <div class="person">
                    <img src="https://i.pinimg.com/564x/db/7e/ef/db7eef1d92731e09f330460a5070f7af.jpg" alt="">
                    <h3>Lucas</h3>
                </div>
            </div>
            <div class="personReview">
                <span style="color: gold; font-size: 24px;">★ ★ ★ ★ ★</span>
                <p>“Kate the person working on my fraud case is in constant contact with me and tries to guide me as best as possible on the way to getting my money back."</p>
                <div class="person">
                    <img src="https://i1.sndcdn.com/avatars-000539361666-a23qpe-t1080x1080.jpg" alt="">
                    <h3>Jacob-Samson</h3>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="contact1">
        <h1>Contact Us</h1>
        <h2>Love to hear from you!</h2>
        <div class="email">
<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 7.00005L10.2 11.65C11.2667 12.45 12.7333 12.45 13.8 11.65L20 7" stroke="#fffafa" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <rect x="3" y="5" width="18" height="14" rx="2" stroke="#fffafa" stroke-width="2" stroke-linecap="round"></rect> </g></svg>
            <div class="em">
            <h3>How can we help?</h3>
            <p>support&#64;smartjustice.info</p>
            </div>
        </div>
        </div>
        <div class="contact-form">
            <h2>Send us a Message</h2>
            <form>
              <label>Full Name*</label>
              <input type="text" placeholder="Adam Gelius" required />
          
              <label>Email*</label>
              <input type="email" placeholder="example@yourmail.com" required />
          
              <label>Phone*</label>
              <input type="tel" placeholder="+885 1254 5211 552" required />
          
              <label>Message*</label>
              <textarea placeholder="type your message here" required></textarea>
          
              <button type="submit">Send Message</button>
            </form>
          </div>

       
      <button class="chat-toggle-button" routerLink="/chat">Contact Support</button>

          
    </section>
</main>


<footer>
    <img src="../../../assets/whitelogo.png" alt="">
    <h1>We create best experiences and practices in the restitution industry.</h1>
</footer>
